<div class="space-y-6">
    <!-- Add Toast component at the top -->
    <p-toast></p-toast> 

    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold text-text-color">Add New Room</h2>
        <a routerLink="../list">
            <p-button label="Back to List" icon="pi pi-arrow-left" styleClass="p-button-text"></p-button>
        </a>
    </div>

    <div class="rounded-md!">
        <form [formGroup]="roomForm" (ngSubmit)="onSubmit()" class="space-y-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="flex flex-col">
                    <p-floatlabel variant="on">
                        <input pInputText id="title" formControlName="title" [invalid]="isFieldInvalid(f['title'])"
                            required class="w-full rounded-full" />
                        <label for="title">Title</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['title'])) {
                        @if (f['title'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">Title is required</p-message>
                        }
                        @if (f['title'].errors?.['minlength']) {
                        <p-message severity="error" variant="simple" size="small">Title must be at least {{
                            f['title'].errors?.['minlength'].requiredLength }} characters</p-message>
                        }
                        @if (f['title'].errors?.['maxlength']) {
                        <p-message severity="error" variant="simple" size="small">Title cannot exceed {{
                            f['title'].errors?.['maxlength'].requiredLength }} characters</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex flex-col">
                    <p-floatlabel variant="on">
                        <p-iconfield iconPosition="left">
                            <input pInputText id="location" formControlName="location"
                                [invalid]="isFieldInvalid(f['location'])" required class="w-full rounded-full" />
                            <p-inputicon class="pi pi-map-marker" />
                        </p-iconfield>
                        <label for="location">Location</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['location'])) {
                        @if (f['location'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">Location is required</p-message>
                        }
                        @if (f['location'].errors?.['minlength']) {
                        <p-message severity="error" variant="simple" size="small">Location must be at least {{
                            f['location'].errors?.['minlength'].requiredLength }} characters</p-message>
                        }
                        @if (f['location'].errors?.['maxlength']) {
                        <p-message severity="error" variant="simple" size="small">Location cannot exceed {{
                            f['location'].errors?.['maxlength'].requiredLength }} characters</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex flex-col">
                    <p-floatlabel variant="on">
                        <p-autoComplete [suggestions]="filteredRoomTypes" (completeMethod)="searchRoomTypes($event)"
                            formControlName="roomType" field="name" [dropdown]="true" [showClear]="true"
                            placeholder="Select a Type" class="w-full" [forceSelection]="true"> <!-- Added forceSelection -->
                            <ng-template let-type pTemplate="item">
                                <div>{{ type.name }}</div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="roomType">Room Type</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['roomType'])) {
                        @if (f['roomType'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">Room Type is required</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex-auto flex-col">
                    <p-floatlabel variant="on">
                        <p-inputNumber inputId="price" formControlName="price" [invalid]="isFieldInvalid(f['price'])"
                            mode="currency" currency="EUR" locale="en-US" class="w-full" [showButtons]="true"
                            buttonLayout="horizontal" spinnerMode="horizontal" [step]="0.25">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputNumber>
                        <label for="price">Price per Night</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['price'])) {
                        @if (f['price'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">Price is required</p-message>
                        }
                        @if (f['price'].errors?.['min']) {
                        <p-message severity="error" variant="simple" size="small">Price must be positive</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex flex-col">
                    <p-floatlabel variant="on">
                        <p-datepicker id="availableFrom" formControlName="availableFrom"
                            [invalid]="isFieldInvalid(f['availableFrom'])" [showIcon]="true" [showButtonBar]="true"
                            iconDisplay="input" dateFormat="dd/mm/yy" placeholder="Select a Date"
                            class="w-full"></p-datepicker>
                        <label for="availableFrom">Available From</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['availableFrom'])) {
                        @if (f['availableFrom'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">Availability date is
                            required</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex flex-col">
                    <p-floatlabel variant="on">
                        <p-autoComplete [suggestions]="filteredRoomStatuses"
                            (completeMethod)="searchRoomStatuses($event)" formControlName="roomStatus" field="name"
                            [dropdown]="true" [showClear]="true" placeholder="Select a Status" class="w-full" [forceSelection]="true"> <!-- Added forceSelection -->
                            <ng-template let-status pTemplate="item">
                                <div>{{ status.name }}</div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="roomStatus">Room Status</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['roomStatus'])) {
                        @if (f['roomStatus'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">Room Status is required</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex flex-col md:col-span-2">
                    <p-floatlabel variant="on">
                        <textarea rows="5" cols="30" pInputTextarea autoResize formControlName="description"
                            [invalid]="isFieldInvalid(f['description'])" required class="w-full"></textarea>
                        <label for="description">Description</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['description'])) {
                        @if (f['description'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">Description is required</p-message>
                        }
                        @if (f['description'].errors?.['minlength']) {
                        <p-message severity="error" variant="simple" size="small">Description must be at least {{
                            f['description'].errors?.['minlength'].requiredLength }} characters</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex flex-col md:col-span-2">
                    <p-floatlabel variant="on">
                        <p-multiSelect [options]="availableAmenities" formControlName="amenities" optionLabel="name"
                            display="chip" [invalid]="isFieldInvalid(f['amenities'])" class="w-full">
                        </p-multiSelect>
                        <label for="amenities">Amenities</label>
                    </p-floatlabel>
                    <div class="h-5 overflow-hidden">
                        @if (isFieldInvalid(f['amenities'])) {
                        @if (f['amenities'].errors?.['required']) {
                        <p-message severity="error" variant="simple" size="small">At least one amenity is
                            required</p-message>
                        }
                        }
                    </div>
                </div>

                <app-toggle-switch-with-label [control]="f['inStock']" label="In Stock" uniqueId="inStockSwitch" />
                <app-toggle-switch-with-label [control]="f['onSale']" label="On Sale" uniqueId="onSaleSwitch" />
            </div>

            <p-divider />

            <div class="flex justify-end gap-4 mt-8">
                <p-button label="Cancel" styleClass="p-button-text" routerLink="../list"></p-button>
                <app-button [loading]="loading()" [disabled]="roomForm.invalid || loading()" [type]="'submit'"
                    [buttonText]="'Save Room'" icon="pi pi-check" [severity]="'success'" />
            </div>
        </form>
    </div>
</div>
