@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@layer {
  .custome-border {
    @apply border border-gray-600/80 rounded-2xl;
  }

  .bg-theme {
    @apply bg-transparent backdrop-blur dark:bg-surface-800/40;
  }
  .bg-card {
    @apply bg-slate-600/10 rounded-2xl;
  }

  p-password {
    @apply w-full;
  }

  .p-error {
    @apply text-red-500 text-sm;
  }

  .matrix-container {
    @apply w-full h-full bg-black; /* Base styles for the container */
    background-image:
      radial-gradient(circle, #0bd40b 1px, transparent 1px),
      radial-gradient(circle, #0bd40b 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 255, 0, 0.1) 1px, transparent 1px),
      linear-gradient(0deg, rgba(0, 255, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;

  }


}
